body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFEF7;
    color: black;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

div {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input, button {
    padding: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.data label {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: fit-content;
    background-color: white;
}
.data input, .data textarea {
    width: 500px;
}
#cvForm {
    margin-top: 80px;
}